<form action="https://public.herotofu.com/v1/9b17a730-6d4e-11ef-95a6-6f38c376f913" method="post" accept-charset="UTF-8"
  class="row row-cols-auto justify-content-evenly">
  <div class="card p-2 col-md-8 col-sm-9 col-10 my-2">
    <div class="card-header">
      <h5 class="card-title text-center">Contact Me</h5>
    </div>
    <div class="card-body">

      <p class="fw-medium">
        To ensure a prompt response, please provide your contact information and a detailed message. I will make every
        effort to get back to you within a reasonable timeframe. Thank you!
      </p>
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <input name="Name" id="name" type="text" class="col-sm-9" required />
      </div>
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <input name="Email" id="email" type="email" class="col-sm-9" required />
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Subject:</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subject"
              id="inquiry"
              value="inquire"
              checked
            />
            <label class="form-check-label" for="inquiry">
              Inquiry
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subject"
              id="collaboration"
              value="collaborate"
            />
            <label class="form-check-label" for="collaboration">
              Collaboration
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subject"
              id="employment"
              value="employe"
            />
            <label class="form-check-label" for="employment">
              Employment
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subject"
              id="support"
              value="support"
            />
            <label class="form-check-label" for="support">
              Support
            </label>
          </div>
        </div>
      </fieldset>
      <div class="row mb-3">
        <label for="message" class="col-sm-2 col-form-label=">Message:</label>
        <textarea name="Message" id="message" rows="3" class="col-sm-9 mt-2"></textarea>
      </div>
    </div>
    <div class="card-footer text-body-secondary text-center ">
      <input type="submit" value="Submit" class="btn btn-primary my-2" />
      <div style="text-indent:-99999px; white-space:nowrap; overflow:hidden; position:absolute;" aria-hidden="true">
        <input type="text" name="_gotcha" tabindex="-1" autocomplete="off" />
      </div>
    </div>
  </div>
</form>

