<div class="row row-cols-auto justify-content-evenly mt-5" id="home">
  <div class="col-md-3 col-sm-9 col-3 text-center">
    <img
      class="img-thumbnail"
      width="250px"
      height="375px"
      src="/assets/images/self.jpg"
      alt="Guillermo Mateo"
    />
  </div>
  <div class="col-sm-8">
  <div
    class="accordion accordion-flush"
    id="accordionFlushExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          About Me
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          My name is Guillermo Mateo, and I am deeply enthusiastic about the
          ever-evolving world of technology. Despite currently working in sales
          and retail, I am devoted to transitioning into the realm of web
          development. My ambition is to master the art of full-stack
          development, acquiring expertise in various programming languages,
          libraries, and frameworks.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Experiences
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          My journey into web development began at the UCONN Coding Boot Camp,
          which provided me with a solid foundation in coding. I am determined
          to refine the skills I gained during the boot camp and am actively
          building my portfolio to present my abilities.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Future
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          I am focused on not only improving the skills I obtained from the boot
          camp but also actively seeking opportunities to master additional
          programming languages, libraries, and frameworks. Feel free to take a
          few moments to visit <a routerLink="/projects">my portfolio</a>, where
          you can explore a selection of the projects and work that I have
          completed.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
